--index-url https://artifactory.prod.tableautools.com/artifactory/api/pypi/tabpypi/simple
--pre
pip==24.0.0
setuptools==69.1.0
configparser==6.0.0
tableau_migration
cffi==1.16.0
pycparser==2.21
pythonnet==3.0.3
typing_extensions==4.9.0
