cffi==1.17.1
clr_loader==0.2.7.post0
colorama==0.4.6
coverage==7.8.0
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pycparser==2.22
pytest==8.3.5
pytest-cov==6.1.1
pythonnet==3.0.5
ruff==0.11.10
typing_extensions==4.13.2
hatch===1.14.1