cffi==2.0.0
clr_loader==0.2.10
colorama==0.4.6
coverage==7.13.1
iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
pycparser==2.23
pytest==9.0.2
pytest-cov==7.0.0
pythonnet==3.0.5
ruff==0.14.11
typing_extensions==4.15.0
hatch===1.16.2