# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
name: .Net Publish Docs

on:
  workflow_call:
    inputs:
      runs-on-config:
        required: true
        type: string
      build-config:
        required: true
        type: string
      python-version:
        required: true
        type: string

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  publish-docs:
    environment:
      name: docs
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ${{ inputs.runs-on-config }}
    name: Publish docs
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-dotnet
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}
    - name: Generate API Reference Docs..
      shell: pwsh
      run: |
        ./scripts/generate-docs.ps1 -SkipPreClean
        Compress-Archive ./docs/* -Destination docs.zip 
    - name: Upload Docs Artifact
      uses: actions/upload-artifact@v4
      with:
        name: docs
        path: docs.zip
    - name: Setup GitHub Pages
      uses: actions/configure-pages@v4.0.0
    - name: Upload Github Pages
      uses: actions/upload-pages-artifact@v3.0.1
      with:
        path: './docs'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4.0.5
